<!DOCTYPE html>
<html>
    <head>
        id card
    </head>
    <title>Simple ID Card</title>
    <body>
        <div class="id-card">
            <div class="card-top">VELVET SCENT</div>
            <div class="card-img">
                <img src=""
                width="200"
            </div>
        </div>
        <div class="details">
            <p> class="fatima Zakiyya"</p>
            <p> Department : DLCB</p>
            <p> Course : Front-end></p>
        </div>
    </body>
</html>